.bgContainer {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "roboto";
}

.head {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  color: #0f172a;
}

@media screen and (min-width: 768px) {
  .head {
    font-size: 60px;
  }
}

.msgContainer {
  width: 80%;
  max-width: 600px;
}

.messageBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.infoClass {
  background-color: #0b69ff;
  padding: 10px;
}

.successClass {
  background-color: #2dca73;
  padding: 10px;
}

.warningClass {
  background-color: #ffb800;
  padding: 10px;
}

.errorClass {
  background-color: #ff0b37;
  padding: 10px;
}
